casadocodigo/.settings/org.eclipse.wst.validation.prefs
casadocodigo/.settings/org.eclipse.wst.jsdt.ui.superType.name
casadocodigo/.settings/org.eclipse.wst.jsdt.ui.superType.container
casadocodigo/.settings/org.eclipse.wst.common.project.facet.core.xml
casadocodigo/.settings/org.eclipse.wst.common.component
casadocodigo/.settings/org.eclipse.m2e.core.prefs
casadocodigo/.settings/org.eclipse.jdt.core.prefs
casadocodigo/.settings/org.eclipse.core.resources.prefs
casadocodigo/.settings/.jsdtscope
casadocodigo/.project
casadocodigo/.classpath
